div.twitter__container
  ul.list-group
    a.list-group-item(href="#")
      .media.tweet
        .media-left
          img.tweet-image.media-object(src="https://pbs.twimg.com/profile_images/518806331549945857/SD8q8rBR_normal.jpeg")
        .media-body
          div
            span.tweet-displayName Tour America
            span.tweet-handle.text-muted @TourAmericaTV
            span.tweet-postedTime.text-muted.pull-right 6 months ago
            .tweet-body Who's up for a New York City holiday? # NYC #NewYork  #NewYorkCity #Travel @ Empire State Building https://t.co/DxEICrvRSI
    a.list-group-item(href="#")
      .media.tweet
        .media-left
          img.tweet-image.media-object(src="https://pbs.twimg.com/profile_images/599995562281160704/_z3zjnpX_normal.jpg")
        .media-body
          div
            span.tweet-displayName çobanov samral
            span.tweet-handle.text-muted @ISamral
            span.tweet-postedTime.text-muted.pull-right 4 months ago
            .tweet-body RT @500px: Empire State of Mind by @Beno_Saradzic: https://t.co/XXQjkv262Y #travel http://t.co/7RikMF3QvE
    a.list-group-item(href="#")
      .media.tweet
        .media-left
          img.tweet-image.media-object(src="https://pbs.twimg.com/profile_images/378800000167813238/2f20645bc6cc893b078c529c367b93fb_normal.png")
        .media-body
          div
            span.tweet-displayName Fall Into Yesterday
            span.tweet-handle.text-muted @FIY_Travel
            span.tweet-postedTime.text-muted.pull-right 4 months ago
            .tweet-body Empire State Building, #NewYorkCity's famous skyscraper http://t.co/OPcpCNJO9N #architecture #travel #history
    a.list-group-item(href="#")
      .media.tweet
        .media-left
          img.tweet-image.media-object(src="https://pbs.twimg.com/profile_images/510758742925651970/OvdF2yZX_normal.jpeg")
        .media-body
          div
            span.tweet-displayName Tamer Yavuz
            span.tweet-handle.text-muted @tmryvz
            span.tweet-postedTime.text-muted.pull-right 4 months ago
            .tweet-body #tameryavuz #newyorkcity #nyc #2015 #travel ✈️ #empire #state #of #mind #dreambig 🇺🇸 // #travel… https://t.co/hYCYztD9eR
    a.list-group-item(href="#")
      .media.tweet
        .media-left
          img.tweet-image.media-object(src="https://pbs.twimg.com/profile_images/647479773485232128/8G7xLPSx_normal.png")
        .media-body
          div
            span.tweet-displayName VIVE ReviveYour Cell
            span.tweet-handle.text-muted @ViveTelecom
            span.tweet-postedTime.text-muted.pull-right 3 months ago
            .tweet-body Popular on 500px : Empire State Building.JPG by 8kun #Travel with us @ https://t.co/pMuNC4TIyf https://t.co/4Pi7K3H9x1
    a.list-group-item(href="#")
      .media.tweet
        .media-left
          img.tweet-image.media-object(src="https://pbs.twimg.com/profile_images/658078288598945792/dVtN35Qo_normal.jpg")
        .media-body
          div
            span.tweet-displayName radleyknox
            span.tweet-handle.text-muted @radleyknox5
            span.tweet-postedTime.text-muted.pull-right 3 months ago
            .tweet-body RT @TopTravel43: 17 Incredible Empire State Building Facts https://t.co/kf1mRi5BQa #Travel #TravelSkills @MrScottEddy @TravelEsquire https://t.co/6M5nYeuW5W
