h3 Transcript
a.transcript__overlay show more
ul#transcript.contain
  li.time_chunck
    .time_stamp 00:11
    .time_content.
      All right, I want to see a show of hands: how many of you have unfriended someone on Facebook because they said something offensive about politics or religion, childcare, food?
  li.time_chunck
    .time_stamp 00:22
    .time_content.
      (Laughter)
  li.time_chunck
    .time_stamp 00:24
    .time_content.
      And how many of you know at least one person that you avoid because you just don't want to talk to them?
  li.time_chunck
    .time_stamp 00:29
    .time_content.
      (Laughter)
  li.time_chunck
    .time_stamp 00:31
    .time_content.    
      You know, it used to be that in order to have a polite conversation, we just had to follow the advice of Henry Higgins in "My Fair Lady": Stick to the weather and your health. But these days, with climate change and anti-vaxxing, those subjects --
  li.time_chunck
    .time_stamp 00:43
    .time_content.    
      (Laughter)
  li.time_chunck
    .time_stamp 01:34
    .time_content.    
      Now, part of that is due to technology. The smartphones that you all either have in your hands or close enough that you could grab them really quickly. According to Pew Research, about a third of American teenagers send more than a hundred texts a day. And many of them, almost most of them, are more likely to text their friends than they are to talk to them face to face. There's this great piece in The Atlantic. It was written by a high school teacher named Paul Barnwell. And he gave his kids a communication project. He wanted to teach them how to speak on a specific subject without using notes. And he said this: "I came to realize..."
  li.time_chunck
    .time_stamp 02:07
    .time_content.    
      (Laughter)
