h1 Video Title goes here.
p Designer Tom Uglow is creating a future in which humanity's love for natural solutions and simple tools can coexist with our need for information and the devices that provide us with it. "Reality is richer than screens," he says. "We can have a happy place filled with the information we love that feels as natural as switching on lightbulb."

p Technology utilized: Alchemy, Science, Magic and Unicorns.
