# Dependency directory
node_modules

# Distribution directory
dist
dist.zip

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Not sure if it grabbed it, but it did now.
.DS_Store
