.story__cards {
  margin-top: 2em;
}

a.card-link {
  color: #555555;

  &:hover {
    text-decoration: none;
  }
}
.panel-card {
  color: #555555;
  border: none;

  img {
    width: 100%;
  }

  .panel-title {
    font-size: 2em;
    margin-bottom: 0.4em;
    line-height: 1.2em;
    height: 2.5em;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
  }

  .panel-content {
    height: 3em;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
  }

  .panel-cta {
    text-align: right;
    color: color('blue', 50);
    font-weight: 700;
    margin-top: 0.5em;

    &:after {
      font-family: "fontawesome";
      content: "\f054";
      font-weight: 100;
      padding-left: 1em;

    }
  }
}
