.hero {
  position: relative;
  height: 35em;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;

  h1 {
    color: #fff;
    font-size: 3em;
    text-align: center;
    padding: 1em;
    line-height: 1.2em;
    position: relative;
    z-index: 1;
    font-family: 'Arvo', 'Lato', helvetica, sans-serif;
  }

  video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

}


@media (min-width: 768px){
  .hero h1 {
    font-size: 4em;
  }
}
