head
  title nu|story

  script(type='text/javascript', src='main.js')
  script(type='text/javascript', src='vendor/video.js/dist/video.min.js')
  
  link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.css')
  link(rel='stylesheet', href='vendor/video.js/dist/video-js.css')
  
  link(rel='stylesheet', href='css/main.css')
  
  link(rel='icon', href='img/nustory_favicon.png', type="image/png")
  
  
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  
  
