head
  title nu|story

  script(type='text/javascript', src='main.js')
  link(rel='stylesheet', href='css/main.css')
  link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
  
  
