.branding
  a.logolink(href='#', title="nu|story", attr): img.logo(src="img/nuStory_logo.png" alt="nu|story")
//nav
  //ul#menu-main.menu(sf-arrows sf-js-enabled)
  //  li.page_item: a(href='#', title="Sample Page") Stories
  //  li.page_item: a(href='#', title="Sample Page") Us
