.container
  .col-xs-4
    a.logolink(href='#', title="nu|story", attr): img.logo(src="img/nuStory_logo.png" alt="nu|story")
  nav.col-xs-8
      ul#menu-main.menu(sf-arrows sf-js-enabled)
        li.page_item: a(href='#', title="Sample Page") Sample Page
        li.page_item: a(href='#', title="Sample Page") Sample Page
        li.page_item: a(href='#', title="Sample Page") Sample Page
