#video__content.col-sm-7
  #video__meta
    include ./vid-content/video-meta.jade
  #video__transcript
    include ./vid-content/video-transcript.jade
#video__social.col-sm-5
  #video__twitter
    include ./vid-content/video-twitter.jade
    
#video__comments
