ul.related__videos
  li.related__video
    a.video__link(href='#', title="title", attr)
      img.video__thumbnail(src="http://placehold.it/100x65")
      .video__content
        .video__title Title goes here
        .video__description Description goes here.
        
  li.related__video
    a.video__link(href='#', title="title", attr)
      img.video__thumbnail(src="http://placehold.it/100x65")
      .video__content
        .video__title Title goes here
        .video__description Description goes here.
        
  li.related__video
    a.video__link(href='#', title="title", attr)
      img.video__thumbnail(src="http://placehold.it/100x65")
      .video__content
        .video__title Title goes here
        .video__description Description goes here.
  li.related__video
    a.video__link(href='#', title="title", attr)
      img.video__thumbnail(src="http://placehold.it/100x65")
      .video__content
        .video__title Title goes here
        .video__description Description goes here.
        
  li.related__video
    a.video__link(href='#', title="title", attr)
      img.video__thumbnail(src="http://placehold.it/100x65")
      .video__content
        .video__title Title goes here
        .video__description Description goes here.
        
  li.related__video
    a.video__link(href='#', title="title", attr)
      img.video__thumbnail(src="http://placehold.it/100x65")
      .video__content
        .video__title Title goes here
        .video__description Description goes here.
