ul.related__videos
  li.related__video.story
    a.video__link(href='#', title="title", attr)
      img.video__thumbnail(src="http://placehold.it/232x130")
      .video__content
        .video__title Title goes here
        .video__description Description goes here.
        
  li.related__video.medical
    a.video__link(href='#', title="title", attr)
      img.video__thumbnail(src="http://placehold.it/232x130")
      .video__content
        .video__title Super long title goes here, maybe...
        .video__description Description goes here.
        
  li.related__video.social
    a.video__link(href='#', title="title", attr)
      img.video__thumbnail(src="http://placehold.it/232x130")
      .video__content
        .video__title Title goes here
        .video__description Description goes here.
        
  li.related__video.story
    a.video__link(href='#', title="title", attr)
      img.video__thumbnail(src="http://placehold.it/232x130")
      .video__content
        .video__title Title goes here
        .video__description Description goes here.
        
  li.related__video.planet
    a.video__link(href='#', title="title", attr)
      img.video__thumbnail(src="http://placehold.it/232x130")
      .video__content
        .video__title Title goes here
        .video__description Description goes here.
        
  li.related__video.planet
    a.video__link(href='#', title="title", attr)
      img.video__thumbnail(src="http://placehold.it/232x130")
      .video__content
        .video__title Title goes here
        .video__description Description goes here.
