doctype html
html(lang='en')
  include ./markup/head.jade

  body
    header
      include ./markup/nav.jade
      
    #frame
      include ./markup/view-area.jade
      include ./markup/vid-content.jade
      
      
