doctype html
html(lang='en')
  include ./markup/head.jade

  body
    header
      include ./markup/nav.jade
      
    #frame
      .hero
        include ./markup/player/hero-video.jade
        
      .mission.container
        .head IBM announces pioneering partnership model to accelerate cognitive innovation and expand its reach beyond the enterprise 
      hr.short
      
      .container
        p While working with a few extraordinary clients developing a pipeline of hero stories for IBM Cloud, we began to see great far-reaching implications of the application of cognitive analytics to their data sets they’d already moved to IBM Cloud. 

        p We then wondered if it would be possible to match clients who have ambitions in cognitive with the right set of university cohorts already working with Watson, and proposed the idea to these clients … 

        p The client response was overwhelming.
      
      .team
        h3 Meet the team
        .container
          .col-xs-6
            img.img-circle(src="./img/daryl_headshot.jpg" title="Daryl's Headshot")
            .team-mate-name Daryl Pereira
            .team-mate-job Social + Customer Stories Lead, IBM Cloud
            .team-mate-nu Founder, Nustory Foundation
          .col-xs-6
            img.img-circle(src="./img/alicia_headshot.jpg" title="Alicia's Headshot")
            .team-mate-name Alicia McGarry
            .team-mate-job Senion Brand Strategist, IBM Cloud
            .team-mate-nu Co-founder, Nustory Foundation 
          .clearfix
      
      .container
        h3.left-title Latest Stories
        .story__cards

          .col-sm-6.col-lg-4.col-xl-3
            a.card-link(href='https://medium.com/@ibmcloud/panasonic-europe-improves-service-with-an-ibm-hybrid-cloud-solution-27d87eda17e1#.o28goprra', title="Panasonic turns to IBM Cloud for partner portal")
              .panel.panel-card
                img(src="./img/panasonic_600x300.jpg")
                .panel-body
                  .panel-title Panasonic turns to IBM Cloud for partner portal
                  .panel-content 50,000 Panasonic partners get digital access to sales leads
                  .panel-cta Read on

          .col-sm-6.col-lg-4.col-xl-3
            a.card-link(href='https://medium.com/@ibmcloud/fresh-direct-delivers-personalized-food-to-your-door-thanks-to-ibm-cloud-experience-one-9f6399afa8bf#.nnkpcuokv', title="FreshDirect slices and dices more sharply than ever")
              .panel.panel-card
                img(src="./img/apples_600x300.jpg")
                .panel-body
                  .panel-title FreshDirect slices and dices more sharply than ever 
                  .panel-content FreshDirect, LLC is sharpening its suite of marketing tools to get its customers what they want, when they want it, before they know it.
                  .panel-cta Read on
                
          .col-sm-6.col-lg-4.col-xl-3
            a.card-link(href='https://medium.com/@ibmcloud/how-can-data-reveal-drivers-parking-behavior-to-unlock-new-commercial-opportunities-a80e988d5fee#.o40m64wgv', title="Parking meters open up new insights for cities")
              .panel.panel-card
                img(src="./img/parking_600x300.jpg")
                .panel-body
                  .panel-title Parking meters open up new insights for cities
                  .panel-content Municipal Parking Services uses cloud-based analytics to gain a 360-degree view of its customers
                  .panel-cta Read on
                  
          .col-sm-6.col-lg-4.col-xl-3
            a.card-link(href='https://medium.com/@ibmcloud/osohonet-easily-scales-film-rendering-workloads-based-on-immediate-workflow-needs-with-ibm-cloud-a8b5349a9cb2#.lcq946obu', title="Sohonet easily scales film rendering workloads with IBM Cloud")
              .panel.panel-card
                img(src="./img/usb_600x300.jpg")
                .panel-body
                  .panel-title Sohonet easily scales film rendering workloads with IBM Cloud
                  .panel-content In the film-industry time and money go hand in hand and M&E Companies are increasingly reliant upon the movement of large volumes of data to and from the Cloud.
                  .panel-cta Read on
                  
          .col-sm-6.col-lg-4.col-xl-3
            a.card-link(href='https://medium.com/@ibmcloud/historic-russian-musical-theater-entertains-new-global-audiences-using-ibm-hybrid-cloud-908456abf987#.48znfslsw', title="Historic Russian musical theater entertains new global audiences ")
              .panel.panel-card
                img(src="./img/russiantheater_600x300.jpg")
                .panel-body
                  .panel-title Historic Russian musical theater entertains new global audiences
                  .panel-content Now able to livestream performances to any device
                  .panel-cta Read on

          .col-sm-6.col-lg-4.col-xl-3
            a.card-link(href='https://medium.com/@ibmcloud/clean-hands-safe-hands-taking-hospital-hygiene-to-the-cloud-b9c3ad8abf51#.sw4ci7b1b', title="Clean Hands Safe Hands")
              .panel.panel-card
                img(src="./img/cleanhands_600x300.jpg")
                .panel-body
                  .panel-title Clean Hands Safe Hands: IoT and sensors improves hospital hygiene
                  .panel-content SoftLayer handles sensor data coming directly from healthcare professionals.
                  .panel-cta Read on

          .col-sm-6.col-lg-4.col-xl-3
            a.card-link(href='https://medium.com/@ibmcloud/ottawa-police-service-recovers-and-safeguards-its-website-with-ibm-cloud-f71394c24ca6#.atphp72wb', title="Ottawa Police Service safeguards its website with IBM Cloud")
              .panel.panel-card
                img(src="./img/ottawapolice_600x300.jpg")
                .panel-body
                  .panel-title Ottawa Police Service safeguards its website with IBM Cloud
                  .panel-content Proactive security expertise and cloud-based infrastructure defends website from cyberattack.
                  .panel-cta Read on
                  

          .col-sm-6.col-lg-4.col-xl-3
            a.card-link(href='https://medium.com/@ibmcloud/how-can-data-help-a-blind-man-run-a-100-mile-race-f898b4bc0b3a#.oopyg0xzg', title="How can data help a man run a 100 mile race?")
              .panel.panel-card
                img(src="./img/runkeeper_600x300.jpg")
                .panel-body
                  .panel-title How can data help a man run a 100 mile race?
                  .panel-content Meet Simon: a life transformed by the cognitive power of the cloud.
                  .panel-cta Read on
      .clearfix
    footer
      &copy; nu|story 2016
